body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    overflow: hidden;

    @media screen and (max-width: 900px) {
        font-size: 14px;
    }
}

#app {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .bscroll-vertical-scrollbar {
        background: transparent !important;
        width: 4px !important;

        .bscroll-indicator {
            background: rgb(180, 146, 24) important;
            border: none !important;
        }
    }

    #mobile-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #fff;
        z-index: 9;
        display: none;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        &.top{
            background-color: transparent;
            box-shadow: none;  
            .logo{
                display: none;
            }
        }

        @media screen and (max-width: 900px) {
            display: block;
        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 22px;
            height: 30px;
            transform: translate(-50%, -50%);
            background: url(./assets/logo.ico) center center no-repeat;
            background-size: 100% auto;
            cursor: pointer;
        }

        .menu-button {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 12px;
            background: url(./assets/menu.png) center center no-repeat;
            background-size: 24px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    #header {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s ease-in-out;
        position: fixed;
        width: 100%;
        top: 0;
        height: 60px;
        padding: 10px 60px;
        position: relative;
        z-index: 100;

        @media screen and (max-width: 900px) {
            display: none;
        }

        @media screen and (min-width: 1590px) {
            background-color: rgba(255, 255, 255, 0.4);
        }

        >.logo {
            display: inline-block;
            font-size: 1.5em;
            line-height: 40px;
            color: #2c3e50;
            font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
            font-weight: 500;

            img {
                display: none;
                vertical-align: middle;
                margin-right: 6px;
                width: 30px;
                height: 40px;
            }
        }
    }

    #main {
        width: 100%;
        z-index: 1;
        padding: 0 60px;
        padding-top: 60px;
        overflow-x: hidden;

        @media screen and (max-width: 900px) {
            padding: 0 1.4em;
            padding-top: 40px;
        }

        .hero {
            margin: 0 auto;
            max-width: 1260px;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 900px){
                display: block;
            }

            h2 {
                font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
                font-weight: 500;
                font-size: 2.4em;
                margin: 0 0 10px;
                display: none;
                color: #2c3e50;
                @media screen and (max-width: 900px){
                    display: block;
                }
            }

            h1 {
                font-weight: 300;
                margin: 0;
                font-size: 3.2em;
                color: #2c3e50;
                @media screen and (max-width: 900px){
                    font-size: 2em;
                }
            }

            .hero-logo {
                width: 165px;
                height: 215px;
                margin-right: 60px;
                @media screen and (max-width: 900px){
                    margin: 30px 0 15px;
                    width: 105px;
                    height: 140px;
                }
            }

            .left {
                width: 39%;
                vertical-align: top;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media screen and (max-width: 900px){
                    display: block;
                    text-align: center;
                    width: 100%;
                }

            }

            .right {
                display: flex;
                align-items: center;
                vertical-align: top;
                width: 61%;
                @media screen and (max-width: 900px){
                    display: block;
                    text-align: center;
                    width: 100%;
                }
            }
        }

    }
}