#loading-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .sk-cube-grid {
        @keyframes sk-cube-grid-scale-delay {

            0%,
            70%,
            100% {
                transform: scale3D(1, 1, 1);
            }

            35% {
                transform: scale3D(0, 0, 1);
            }
        }


        width: 99px;
        height: 99px;

        .sk-cube {
            width: 33px;
            height: 33px;
            float: left;
            animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out
        }
    }

    .loading-tip {
        font-family: sans-serif;
        margin-top: 5px;
    }
}