.scroll-container {
  height: 100%;
  width: 100%;
  position: relative;
  * {
    box-sizing: border-box;
  }
  .swiper-slide {
    height: auto;
  }
  .swiper-scrollbar {
    width: 5px;
    background: #1e1d22;
    .swiper-scrollbar-drag {
      background: #bc9a61;
    }
  }
}
